/***********************************************/
/***********************************************/
/*Estilos para la carta en cuestion*/
div.carta{
	width:200px;
	height:200px;
	padding:50px;
	background-color:black;
	clear:both;
}
div.bloque{
	width:50px;
	height:50px;
	float:left;
}
/*celda de color negro*/
.n{
	background-color:#000000;
}
/*celda de color yellow*/
.y{
	background-color:#FFF200;
}
/*celda de color rojo*/
.r{
	background-color:#ED1C24;
}
/*celda de color azul*/
.a{
	background-color:#00A2E8;
}

/***********************************************/
/***********************************************/
/*Estilos para la web*/


#carta1, #carta2{
	width:300px;
	height:300px;
	background-color:black;
}

#botones{
	clear:both;
	position:absolute;
	top:350px;
}

#botones ul{
	list-style: none;
}

#botones ul li{
	display:inline-block;
	width:50px;
	height:50px;
	border:1px solid black;
	text-align:center;
}

#botones ul li a{
	font-size:20px;
	padding-top:15px;
	font-family: verdana;
	color:#0524B4;
	text-decoration: none;
	display:block;
	width:50px;
	height:35px;
}

#botones ul li a:hover{
	background-color:#12D1FA;
}

#botones ul li a:active{
	background-color:#99336B;
}

#botones1{
	float:left;
	width:600px;
}

#botones2{
	float:right;
	width:600px;
}

/********************************************/
.objMovible{ 
	position:absolute; 
	cursor:pointer;
	z-index:1;
}

